UAUTitanium/UAUMobileWebAPI/UAUMobileWebAPI/Web References/wsMobileReference/wsMobile.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/UAUTitanium" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/UAUTitanium" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/UAUTitanium">
      <s:element name="getHospedagemMobileWebAPI">
        <s:complexType />
      </s:element>
      <s:element name="getHospedagemMobileWebAPIResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getHospedagemMobileWebAPIResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GravaLogErro">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="descricao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="classe" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="metodo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="os" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="aplicativo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="versao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="atividade" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GravaLogErroResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getHospedagemMobileWebAPISoapIn">
    <wsdl:part name="parameters" element="tns:getHospedagemMobileWebAPI" />
  </wsdl:message>
  <wsdl:message name="getHospedagemMobileWebAPISoapOut">
    <wsdl:part name="parameters" element="tns:getHospedagemMobileWebAPIResponse" />
  </wsdl:message>
  <wsdl:message name="GravaLogErroSoapIn">
    <wsdl:part name="parameters" element="tns:GravaLogErro" />
  </wsdl:message>
  <wsdl:message name="GravaLogErroSoapOut">
    <wsdl:part name="parameters" element="tns:GravaLogErroResponse" />
  </wsdl:message>
  <wsdl:portType name="wsMobileSoap">
    <wsdl:operation name="getHospedagemMobileWebAPI">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Verifica se o cliente hospeda o MobileWebAPI.  Deve ser usado apenas pelo MobileWebAPI.</wsdl:documentation>
      <wsdl:input message="tns:getHospedagemMobileWebAPISoapIn" />
      <wsdl:output message="tns:getHospedagemMobileWebAPISoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GravaLogErro">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Grava o log de erro. Deve ser usado apenas pelo MobileWebAPI.</wsdl:documentation>
      <wsdl:input message="tns:GravaLogErroSoapIn" />
      <wsdl:output message="tns:GravaLogErroSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsMobileSoap" type="tns:wsMobileSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getHospedagemMobileWebAPI">
      <soap:operation soapAction="http://tempuri.org/UAUTitanium/getHospedagemMobileWebAPI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GravaLogErro">
      <soap:operation soapAction="http://tempuri.org/UAUTitanium/GravaLogErro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsMobileSoap12" type="tns:wsMobileSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getHospedagemMobileWebAPI">
      <soap12:operation soapAction="http://tempuri.org/UAUTitanium/getHospedagemMobileWebAPI" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GravaLogErro">
      <soap12:operation soapAction="http://tempuri.org/UAUTitanium/GravaLogErro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsMobile">
    <wsdl:port name="wsMobileSoap" binding="tns:wsMobileSoap">
      <soap:address location="http://192.168.2.97:8686/WebServices/wsMobile.asmx" />
    </wsdl:port>
    <wsdl:port name="wsMobileSoap12" binding="tns:wsMobileSoap12">
      <soap12:address location="http://192.168.2.97:8686/WebServices/wsMobile.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>