UAUTitanium/UAUMobileWebAPI/UAUMobileWebAPI/Web References/AutentificadorReference/AutentificadorMob.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/UAUTitanium" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/UAUTitanium" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/UAUTitanium">
      <s:element name="AutentificarUsuarioTitanium">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="senha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AutentificarUsuarioTitaniumResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AutentificarUsuarioTitaniumResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AutentificarUsuarioTitaniumSoapIn">
    <wsdl:part name="parameters" element="tns:AutentificarUsuarioTitanium" />
  </wsdl:message>
  <wsdl:message name="AutentificarUsuarioTitaniumSoapOut">
    <wsdl:part name="parameters" element="tns:AutentificarUsuarioTitaniumResponse" />
  </wsdl:message>
  <wsdl:portType name="AutentificadorMobSoap">
    <wsdl:operation name="AutentificarUsuarioTitanium">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Verifica login e senha. Deve ser usado apenas pelo módulo mobile.</wsdl:documentation>
      <wsdl:input message="tns:AutentificarUsuarioTitaniumSoapIn" />
      <wsdl:output message="tns:AutentificarUsuarioTitaniumSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AutentificadorMobSoap" type="tns:AutentificadorMobSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AutentificarUsuarioTitanium">
      <soap:operation soapAction="http://tempuri.org/UAUTitanium/AutentificarUsuarioTitanium" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AutentificadorMobSoap12" type="tns:AutentificadorMobSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AutentificarUsuarioTitanium">
      <soap12:operation soapAction="http://tempuri.org/UAUTitanium/AutentificarUsuarioTitanium" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AutentificadorMob">
    <wsdl:port name="AutentificadorMobSoap" binding="tns:AutentificadorMobSoap">
      <soap:address location="http://192.168.2.97:8686/AutentificadorMob.asmx" />
    </wsdl:port>
    <wsdl:port name="AutentificadorMobSoap12" binding="tns:AutentificadorMobSoap12">
      <soap12:address location="http://192.168.2.97:8686/AutentificadorMob.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>