UAUTitanium/UAUMobileWebAPI/UAUMobileWebAPI/Web References/wsHistoricoInsumoReference/WsHistoricoInsumo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/UAUTitanium" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/UAUTitanium" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/UAUTitanium">
      <s:element name="ConsultaHistoricoInsumo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codigoInsumo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="naoMostraInsumoSemCotacao" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="dataInicial" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="dataFinal" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="ordenar" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaHistoricoInsumoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultaHistoricoInsumoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConsultaHistoricoInsumoSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaHistoricoInsumo" />
  </wsdl:message>
  <wsdl:message name="ConsultaHistoricoInsumoSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaHistoricoInsumoResponse" />
  </wsdl:message>
  <wsdl:portType name="wsHistoricoInsumoSoap">
    <wsdl:operation name="ConsultaHistoricoInsumo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consulta o histórico de compra do insumo</wsdl:documentation>
      <wsdl:input message="tns:ConsultaHistoricoInsumoSoapIn" />
      <wsdl:output message="tns:ConsultaHistoricoInsumoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsHistoricoInsumoSoap" type="tns:wsHistoricoInsumoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultaHistoricoInsumo">
      <soap:operation soapAction="http://tempuri.org/UAUTitanium/ConsultaHistoricoInsumo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsHistoricoInsumoSoap12" type="tns:wsHistoricoInsumoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultaHistoricoInsumo">
      <soap12:operation soapAction="http://tempuri.org/UAUTitanium/ConsultaHistoricoInsumo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsHistoricoInsumo">
    <wsdl:port name="wsHistoricoInsumoSoap" binding="tns:wsHistoricoInsumoSoap">
      <soap:address location="http://localhost:3016/Webservices/WsHistoricoInsumo.asmx" />
    </wsdl:port>
    <wsdl:port name="wsHistoricoInsumoSoap12" binding="tns:wsHistoricoInsumoSoap12">
      <soap12:address location="http://localhost:3016/Webservices/WsHistoricoInsumo.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>